<!DOCTYPE html>
<html>
  <head>
    <meta property="og:url" content="http://bubble.kiwi/" />
    <meta property="og:site_name" content="KiwiBubble" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta http-equiv="refresh" content="0; url=http://bubble.kiwi/" />
  </head>
  <body>
    Redirecting to <a href="http://bubble.kiwi/">Bubble.kiwi</a>
  </body>
</html>
